<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "img1.jpg", width: 300, alt: "profile image", class: 'profile-img' %>
        <div class="skills">
          <% @skills.each do |skill| %>
            <div class="skill">
              <h4><%= skill.title %></h4>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-striped bg-warning"
                  role="progressbar"
                  aria-valuenow="<%= skill.percent_utilized %>"
                  aria-valuemax="100"
                  style="width: <%= skill.percent_utilized %>%"
                ></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-8">
        <p>My name is Casey Lund. I am a  detail oriented, result driven leader that loves to solve problems. I have been in the tech world for the past 5 years helping people with their online presence. Helping people dissect code from their developers gave me the desire to become a developer myself. When I am not programming I enjoy playing sports, board games, video games and spending time with my family.  I am a person dedicated to learning new skills and always enjoys a good challenge.  </p>

        <p>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controler="jobHistory"
          >
            Job History
          </button>

          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controler="education"
          >
            Education
          </button>
        </p>

        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              <div class="row">
                <div class="col-md-2">
                  <%= image_tag "ls-logo.jpg", width: 100 %>
                </div>
                <div class="col-md-10">
                  Legend Solar - Solar Analyst
                  <p>Dec 2016 - Dec 2017</p>
                  <p>As the solar analyst, I would use a program called Aurora to build out 3D models of customers houses and run production analysis to see how many panels the customer would need to offset their power bill. I would create and modify spreadsheets with equations to calculate tax credits that the customers would receive, and then create the proposal for the sales department. </p>
                </div>
              </div>
            </div>
          
            <div class="card card-block">
              <div class="row">
                <div class="col-md-2">
                  <%= image_tag "bh-logo.png", width: 100 %>
                </div>
                <div class="col-md-10">
                  Bluehost - Server Professional/Workforce Management
                  <p>April 2012 - Dec 2016</p>
                  <p>As a server professional, I would help customers that had dedicated Apache servers through SSH to troubleshoot server issues. I worked with popular CMS like Wordpress, Joomla, and Drupal. I helped customers clean malware from hacked sites and consulted them on the best website security practices. 
                  I was recruited by the workforce management team. While working with them my responsibilities included:
                  <ul>
                    <li>Go to job fairs and recruit new talent</li>
                    <li>Perform the technical interview with new applicants.</li>
                    <li>Created spreadsheets to present to upper management that would compare the actual call and chat volumes with the forecasted numbers so they would be able to hire according to the needs of the company. </li>
                  </p>  
                </div>
              </div>
            </div>
          </div>
          <div class="collapse" id="education">
            <div class="card card-block">
              <div class="row">
                <div class="col-md-2">
                  <%= image_tag "bottega.jpg", width: 100 %>
                </div>
                <div class="col-md-10">
                  <p><a href="https://bottega.tech/" target="_blank">Bottega </a>-coding bootcamp</p> 
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-2">
                  <%= image_tag "UVU.jpg", width: 100 %>
                </div>
                <div class="col-md-10">
                  <p>UVU - Working toward BS in Computer Science</p>
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-2">
                  <%= image_tag "dsu.png", width: 100 %>
                </div>
                <div class="col-md-10">
                  <p>Dixie State University - Earned Associates in art with   emphasis in Spanish
                  </p>
                </div>
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>